@using Shipper.RestGateway.Model
@{
    /**/

    ViewBag.Title = "Index";
    List<Vehicle> vehicles = Model;
}

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Vehicles</h4>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        <th class="hidden">ID</th>
                        <th>License</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>View</th>
                        <th>View</th>
                        <th>Edit</th>
                    </tr>
                    <tbody>
                        @foreach (var car in vehicles)
                        {
                        <tr>
                            <td class="hidden">@car.id</td>
                            <td>@car.licenseId</td>
                            <td>@car.make</td>
                            <td>@car.model</td>
                            <td>@car.year</td>
                            <td><a href="/Shipment/ViewShipments?id=@car.id">Cargo</a></td>
                            <td><a href="/MapView?id=@car.id">Trip</a></td>
                            <td><a class="editVehicle"><i class="fa fa-edit"></i></a></td>
                        </tr>
                            //count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title"><i class="fas fa-truck-moving"></i> Add New Vehicle</h4>
            </div>
            <div class="box-body" style="padding-left: 25px;padding-right: 25px;">
                <form id="vehicleForm" method="post" class="form-horizontal">
                    <div class="row hidden">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>vehicle Id</label>
                                <input type="text" class="form-control border-input" placeholder="vehicle Id" value="" id="vehicleId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>License Number</label>
                                <input type="text" class="form-control border-input" placeholder="License Number" value="" id="licenseNumber" name="licenseNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Make</label>
                                <select class="form-control" id="vehicleMakeSelector" name="vehicleMakeSelector">
                                    <option value="">--- Select Make ---</option>
                                    <option value="Volvo">Volvo</option>
                                    <option value="Mercedes Ben">Mercedes Benz</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Nissan">Nissan</option>
                                    <option value="Mahindra">Mahindra</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="vehicleModelSelector">Model</label>
                                <select class="form-control" id="vehicleModelSelector">
                                    <option value="">--- Select Model ---</option>
                                    <option value="Volvo">Volvo</option>
                                    <option value="Mercedes Ben">Mercedes Benz</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Nissan">Nissan</option>
                                    <option value="Mahindra">Mahindra</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Year</label>
                                <select class="form-control" id="vehicleYearOption" name="vehicleYearOption"></select>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <button type="button" class="btn btn-info btn-fill btn-wd" id="submitVehicle">Submit</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function hideOverLay() {
        window.FakeLoader.hideOverlay();
    }
    window.onload = hideOverLay;
</script>

