
@{
    ViewBag.Title = "Index";
    ZimconBackOffice.Controllers.DeviceAllocationViewModel deviceAllocationViewModel = Model;
    var count = 1;
}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Devices</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <tr>
                        @*<th>ID</th>*@
                        <th>Telegram</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Vehicle</th>
                        <th></th>
                    </tr>
                    <tbody>
                        @foreach (var item in deviceAllocationViewModel.Allocations)
                        {
                        <tr>
                            @*<td>@count</td>*@
                            <td class="hidden">@item.allocationId</td>
                            <td class="hidden">@item.vehicleId</td>
                            <td>@item.deviceId</td>
                            <td>@item.deviceMake</td>
                            <td>@item.deviceModel</td>
                            <td>@item.vehicleLicense</td>
                            <td class="hidden">@item.vehicleMake</td>
                            <td class="hidden">@item.vehicleModel</td>

                            <td><a class="editDeviceAllocation"><i class="fa fa-edit"></i></a></td>
                        </tr>
                            //count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title"><i class="fa fa-mobile-alt"></i> Allocate Device</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row hidden">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Allocation Id</label>
                                <input type="text" class="form-control border-input" placeholder="" value="" id="allocationId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Device</label>
                                <select class="form-control" id="deviceSelector">
                                    <option>--- Select Device ---</option>
                                    @foreach (var device in deviceAllocationViewModel.Devices)
                                    {
                                        <option value="@device.deviceId">@device.make - @device.model - @device.deviceId</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Vehicle</label>
                                <select class="form-control" id="vehicleSelector">
                                    <option>--- Select Vehicle ---</option>
                                    @foreach (var vehicle in deviceAllocationViewModel.Vehicles)
                                    {
                                        <option value="@vehicle.id">@vehicle.model - @vehicle.licenseId</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <button type="button" class="btn btn-info btn-fill btn-wd" id="submitDeviceAllocation">Submit</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>