@model ZimconBackOffice.Controllers.UserConsigneeViewModel
@{
    ViewBag.Title = "User";
}

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="title">User</h4>
            </div>
            <div class="box-body">
                <div style="display: block;max-height: 600px;overflow-y: auto;-ms-overflow-style: -ms-autohiding-scrollbar;overflow-x: auto;max-width: 800px;">
                    <table class="table table-striped">
                        <tr>
                            <th>Created</th>
                            <th>Consignee</th>
                            <th>Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                            <th>Contact</th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                        <tbody>
                            @foreach (var user in Model.users)
                            {
                                <tr>
                                    <td class="hidden">@user.id</td>
                                    <td class="hidden">@user.consigneeId</td>
                                    <td class="hidden">@user.password</td>
                                    <td>@user.createdDate.ToShortDateString()</td>
                                    <td>@user.consignee.name</td>
                                    <td>@user.firstName @user.lastName</td>
                                    <td>@user.firstName</td>
                                    <td>@user.lastName</td>
                                    <td>@user.emailAddress</td>
                                    <td>@user.consignee.contactNumber</td>
                                    <td>@user.consignee.country</td>
                                    <td><a class="editUser"><i class="fa fa-edit"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="title"><i class="fa fa-user-circle"></i> Add New User</h4>
            </div>
            <div class="box-body" style="padding-left: 25px;padding-right: 25px;">
                <form id="userForm" method="post" class="form-horizontal">
                    <div class="row hidden">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>UserId</label>
                                <input type="text" class="form-control border-input" placeholder="" value="" id="userId">
                            </div>
                        </div>
                    </div>
                    <div class="row hidden">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>UserId</label>
                                <input type="text" class="form-control border-input" placeholder="" value="" id="consigneeId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Consignee</label>
                                <select class="form-control" id="consigneeSelector" name="consigneeSelector">
                                    <option value="">--- Select Consignee ---</option>
                                    @foreach (var consignee in Model.consignees)
                                    {
                                        <option value="@consignee.id">@consignee.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control border-input" placeholder="" value="" id="firstName" name="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control border-input" placeholder="" value="" id="lastName" name="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="email" class="form-control border-input" placeholder="" value="" id="email"  name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" data-minlength="6" class="form-control border-input" placeholder="" value="" id="password" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control border-input" placeholder="" value="" id="password2" name="password2">
                            </div>
                        </div>
                    </div>
                    <div class="row hidden">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Created date</label>
                                <input type="text" class="form-control border-input" placeholder="" value="" id="createdDate">
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <button type="button" class="btn btn-info btn-fill btn-wd" id="submitUser">Submit</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function hideOverLay() {
        window.FakeLoader.hideOverlay();
    }
    window.onload = hideOverLay;
</script>





