@model IEnumerable<Shipper.RestGateway.Model.Consignee>
@{
    ViewBag.Title = "Consignee";
}
<div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="title">Consignees</h4>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Address2</th>
                            <th>Country</th>
                            <th>Contact</th>
                            <th></th>
                        </tr>
                        <tbody>
                            @foreach (var consinee in Model)
                            {
                            <tr>
                                <td class="hidden">@consinee.id</td>
                                <td>@consinee.name</td>
                                <td>@consinee.address</td>
                                <td>@consinee.address2</td>
                                <td>@consinee.country</td>
                                <td>@consinee.contactNumber</td>
                                <td><a class="editConsinee"><i class="fa fa-edit"></i></a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="title"><i class="fa fa-user-tie"></i> Add New Consignee</h4>
                </div>
                <div class="box-body">
                    <form>
                        <div class="row hidden">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Id</label>
                                    <input type="text" class="form-control border-input" placeholder="" value="" id="consigneeId">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control border-input" placeholder="" value="" id="name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address 1</label>
                                    <input type="text" class="form-control border-input" placeholder="" value="" id="address">
                                </div>
                            </div>
                        </div><div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address 2</label>
                                    <input type="text" class="form-control border-input" placeholder="" value="" id="address2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Contact</label>
                                    <input type="text" class="form-control border-input" placeholder="" value="" id="contactNumber">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="countrySelector">Select Country</label>
                                    <select class="form-control" id="countrySelector">
                                        <option>--- Select Country ---</option>
                                        <option>South Africa</option>
                                        <option>Zimbabwe</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="pull-left">
                            <button type="button" class="btn btn-info btn-fill btn-wd" id="submitConsignee">Submit</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    function hideOverLay() {
        window.FakeLoader.hideOverlay();
    }
    window.onload = hideOverLay;
</script>

